@use "../../styles/variables" as vars;
@use "../../styles/mixins";

// Success container
.success {
  // Layout
  display: grid;
  grid-template-columns: 34% 45%;
  justify-content: space-between;
  align-items: center;

  // Box Model
  gap: 24px;
  margin-bottom: 90px;
}

// Success Content
.success__content {
  // Layout
  display: flex;
  flex-direction: column;

  // Box Model
  gap: 24px;
}

// Section Title
.success__title {
  // Typography
  font-size: clamp(1.6rem, 3vw, 2.4rem);
  color: vars.$color-text-dark;
}

// Cards Container
.success__cards {
  // Layout
  display: flex;
  flex-direction: column;

  // Box Model
  gap: 24px;

  @include mixins.respond-to("mobile") {
    // Layout
    align-items: center;
  }
}

// Success Image
.success__image img {
  // Box Model
  width: clamp(240px, 100%, 540px);
  height: auto;
}

@include mixins.respond-to("tablet") {
  .success {
    // Layout
    grid-template-columns: 45% 45%;
  }
}

@include mixins.respond-to("mobile") {
  .success {
    // Layout
    grid-template-columns: auto;
    text-align: center;

    // Box Model
    gap: 48px;

    &__content {
      // Layout
      align-items: center;
    }
  }
}
