@use "../../styles/variables" as vars;
@use "../../styles/mixins";

.btn {
  box-sizing: content-box;
  @include mixins.flex(center, center);
  padding-left: 20px;
  padding-right: 20px;
  width: fit-content;
  height: 50px;
  white-space: nowrap;
  color: vars.$color-text-dark;
  font-weight: bold;
  background-color: transparent;
  border: none;
  border-radius: 2rem;
  cursor: pointer;

  &--primary {
    padding-left: 40px;
    padding-right: 40px;
    color: #fff;
    background-color: vars.$color-primary;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: vars.$color-primary-hover;
    }

    &-md {
      padding-left: 50px;
      padding-right: 50px;
    }

    &-lg {
      padding-left: 80px;
      padding-right: 80px;
    }
  }

  &--disabled {
    background-color: vars.$color-text-gray;
    cursor: not-allowed;
    color: vars.$color-background-white;
    opacity: 0.6;

    &:hover {
      background-color: vars.$color-text-gray;
    }
  }
}
