@use "../../styles/variables" as vars;
@use "../../styles/mixins";

// Testimonials container
.testimonials {
  // Box Model
  padding: vars.$spacing-large 0;
  margin-bottom: 90px;
}

// Section Title
.testimonials__title {
  // Typography
  text-align: center;

  // Box Model
  margin-bottom: vars.$spacing-large;

  // Typography
  font-size: vars.$font-size-title;
  font-weight: vars.$font-weight-bold;
  color: vars.$color-text-dark;
}

// Testimonials List
.testimonials__list {
  // Layout
  display: flex;
  justify-content: center;
  align-items: center;

  // Box Model
  gap: 24px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  @include mixins.respond-to("tablet") {
    // Layout
    flex-direction: column;
  }
}
