@use "../../styles/variables" as vars;
@use "../../styles/mixins";

// Hero container
.hero {
  // Layout
  display: grid;
  grid-template-columns: 34% 45%;
  justify-content: space-between;
  align-items: center;

  // Box Model
  gap: 24px;
  margin-top: 90px;
  margin-bottom: 90px;

  &__content {
    // Layout
    display: flex;
    flex-direction: column;

    // Box Model
    gap: 24px;
  }

  &__title {
    // Typography
    font-size: clamp(1.6rem, 3vw, 2.4rem);
    color: vars.$color-text-dark;

    .highlight {
      // Layout
      position: relative;

      // Typography
      color: vars.$color-primary;

      @include mixins.respond-to("tablet", "min") {
        &::after {
          // Layout
          position: absolute;
          bottom: 0;
          right: -16px;

          // Box Model
          width: 6px;
          height: 42px;

          // Visual
          content: "";
          background-color: vars.$color-primary;
        }
      }
    }
  }

  &__subtitle {
    // Typography
    color: vars.$color-text-gray-muted;
    line-height: 1.6;
  }

  &__graphic img {
    // Box Model
    width: clamp(240px, 100%, 540px);
    height: auto;
  }
}

@include mixins.respond-to("tablet") {
  .hero {
    // Layout
    grid-template-columns: 45% 45%;
  }
}

@include mixins.respond-to("mobile") {
  .hero {
    // Layout
    grid-template-columns: auto;
    text-align: center;

    // Box Model
    gap: 48px;

    &__content {
      // Layout
      align-items: center;
    }
  }
}
