@use "../../styles/variables" as vars;
@use "../../styles/mixins";

// Step container
.step {
  // Layout
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // Box Model
  padding: 1.6rem;

  // Typography
  text-align: center;

  // Document variant
  &--document {
    // Visual
    background-color: vars.$color-background-white;
    border-radius: 12px;
  }
}

// Step Icon
.step__icon {
  // Layout
  display: flex;
  justify-content: center;
  align-items: center;

  // Box Model
  width: vars.$icon-size;
  height: vars.$icon-size;
  margin-bottom: vars.$spacing-medium;

  // Typography
  font-size: 1.5rem;
  color: vars.$color-background-white;

  // Visual
  background-color: vars.$color-background-white;
  border-radius: 50%;

  &--document {
    // Visual
    background-color: vars.$color-primary;
  }
}

// Step Title
.step__title {
  // Box Model
  margin-bottom: vars.$spacing-small;

  // Typography
  font-size: vars.$font-size-subtitle;
  font-weight: vars.$font-weight-medium;
  color: vars.$color-text-dark;
}

// Step Description
.step__description {
  // Typography
  font-size: vars.$font-size-body;
  line-height: 1.3;
  color: vars.$color-text-gray;
}

// Step Connector
.step__connector {
  // Layout
  position: absolute;
  top: 0;
  right: -35%;
  z-index: 2;
  transform: scale(0.9);

  &--reversed {
    // Layout
    top: 30%;
  }
}

@include mixins.respond-to("tablet") {
  .step__connector {
    // Layout
    right: -54%;
    transform: scale(0.6);
  }
}

@include mixins.respond-to("mobile") {
  .step__connector {
    // Layout
    display: none;
  }

  .step--document {
    // Visual
    background-color: inherit;
  }
}
