@use "../../styles/variables" as vars;
@use "../../styles/mixins";

// Pricing container
.pricing {
  // Layout
  position: relative;

  // Box Model
  padding: vars.$spacing-large 0;
  margin-bottom: 90px;

  // Visual
  overflow: hidden;
}

// Blob Background
.pricing__blob {
  // Layout
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  // Box Model
  width: clamp(800px, 100%, 1200px);
  height: auto;

  // Visual
  opacity: 0.6;
}

// Section Title
.pricing__title {
  // Typography
  text-align: center;

  // Box Model
  margin-bottom: vars.$spacing-large;

  // Typography
  font-size: vars.$font-size-title;
  font-weight: vars.$font-weight-bold;
  color: vars.$color-text-dark;
}

// Plans Container
.pricing__plans {
  // Layout
  display: flex;
  justify-content: center;
  align-items: center;

  // Box Model
  gap: 24px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  @include mixins.respond-to("tablet") {
    // Layout
    flex-direction: column;
  }
}
