@use "../../styles/variables" as vars;
@use "../../styles/mixins";

.cta {
  @include mixins.flex($direction: column, $justify: center, $align: center);
  padding: vars.$spacing-large 20px;
  border-radius: 20px;
  background: linear-gradient(#1877f2 0%, #023275 100%);
  text-align: center;
}

.cta__content {
  @include mixins.flex($direction: column, $justify: center, $align: center);
  max-width: 800px;
  margin: 0 auto;
}

.cta__title {
  margin-bottom: vars.$spacing-medium;
  font-size: vars.$font-size-title;
  font-weight: vars.$font-weight-bold;
  color: vars.$color-background-white;
}

.cta__description {
  margin-bottom: vars.$spacing-large;
  max-width: 520px;
  font-size: vars.$font-size-body;
  font-weight: vars.$font-weight-medium;
  color: #ffffffcc;
  opacity: 0.8;
}

@include mixins.respond-to("mobile") {
  .cta {
    padding: vars.$spacing-medium 15px;
  }

  .cta__title {
    font-size: clamp(1.5rem, 5vw, vars.$font-size-title);
  }

  .cta__description {
    font-size: clamp(0.8rem, 2vw, vars.$font-size-body);
  }
}
